*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1c1d31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
  /* width: 60%; */
}
form {
  display: flex;
  gap: 8px;
  align-items: center;
  /* font-size: 24px; */
}

.top-menu-container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
}

#mode_text{
  text-align: center;
  color: gray;
  cursor: default;
}

#mode_text:focus{
  outline: none;
}

#mode_help_button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: rgb(63, 63, 63);
  border-radius: 50%;
  line-height: 20px;
  /* border: solid 1px gray; */
  cursor: pointer;
  border: gray solid 1px;
}

#mode_help_button:hover {
  outline: gray auto;
}

.help-button-container{
  position: relative;
}

.help-popup {
  position: absolute;
  background-color: white;
  width: max-content;
  margin-top: 8px;
  padding: 8px;
  border-radius: 4px;
  color: gray;
  outline: auto gray;
  /* outline-color: black; */
  display: none;

}

.help-popup.show{
  display: block;
}

.sketch-pad {
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.box {
  outline: 1px solid green;
  flex-grow: 0;
  /* width: 37.5px;
  height: 37.5px; */
}

#size_label{
  color: white;
}

#size_input {
  width: 42px;
  text-align: right;
}

form label{
  color: white;
  align-self: center;
}

#generate {
  padding: 1px 12px;
  color: rgb(122, 182, 0);
  background-color: rgb(36, 36, 36);
  cursor: pointer;
}


