*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(16, 14, 44);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 8px;
}

form{
  display: flex;
  gap: 8px;
}

.sketch-pad {
  width: 500px;
  height: 500px;
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
}

.box {
  border: 1px solid black;
  flex-grow: 0;
  /* width: 37.5px;
  height: 37.5px; */
}

#size_label{
  color: white;
}

#size_input {
  width: 42px;
  text-align: right;
}

form label{
  color: white;
  align-self: center;
}

#generate {
  padding: 1px 12px;
}


